body {
    background-color: #4a90e2;
    color: #fff;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.text-muted {
    color: #666 !important;
}

.btn-primary {
    background-color: #4a90e2;
    border: none;
}

.btn-primary:hover {
    background-color: #357ab8;
}

.img-fluid {
    max-width: 90%; /* Controls the width of the image */
}
.custom-img-shift {
    margin-left: -50px; /* Atur nilai sesuai kebutuhan */
}

